.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 60px;
  gap: 10px;
  width: auto;
  height: 15px;
  background: #ffffff;
}
.leftside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 64px;
}
.logo {
  padding: 0 10px;
  width: 158px;
  height: 45px;
}
.navbartitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 97px;
  height: 24px;
}
.rightside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 64px;

  width: 364px;
  height: 40px;
}
button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 42px;
  gap: 10px;
  width: 166px;
  height: 40px;
  background: linear-gradient(266.79deg, #0048ff 4.63%, #0096ff 100%);
  border-radius: 52px;
}
.navbartitle1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: 46px;
  height: 19px;
}
